@media screen and (max-width:"400px"){
    body{
        background-image:auto;
    }
}


body{
    background-image:url("https://sites.create-cdn.net/siteimages/54/9/2/549204/15/9/5/15952087/500x500.jpg?1509611675");
    background-repeat:no-repeat;
    background-size:cover;
    margin:0;
    padding:0;
    
}
.home{
    font-size:em;
    font-family:'Times New Roman';
    color:whitesmoke;
    font-size:1em;
    text-align: center;
    padding-bottom: 200px;

}
#overlay {
    position:relative; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1; 
    width: 100%;
    height:100%;
    text-align: center;
    opacity: 2;
  }
h1{
        font-family:Cambria;
        color:white;
        opacity:higher;
        padding:10px;
        font-size:90px;
        
}
a{
    text-decoration:none;
    padding:20px;
    color:white;
    font-size:large;
}
#nav{

        color:black;
        text-align:right;
        text-justify:center;
        padding:20px;
    }

    ul a:hover{
        background-color:green;
    } 
 h2{
      color:white;
      font-size:40px;
   }      

.info{
    text-align: center;
    color:white;
    width: auto;
    height: auto;
    overflow: hidden;
    font-size:2em;
}

/* #about{
    text-align: center;
    box-shadow: 10px 10px 5px grey;
    font-size:1em;

} */



p{  
    padding-top:100px;
    color:white;
    font-size:30px;
    text-align:center;
    align-items:bottom;
}
